<div class="ml-5">
    <ul class="flex flex-col">
        <li *ngFor="let data of treeData" class="flex flex-col">
            <app-tree-item [dataForTheTree]="data"></app-tree-item>
            <ul class="flex flex-col">
                <li *ngFor="let childrenData of data.children" class="flex flex-col ml-5">
                    <app-tree-item [dataForTheTree]="childrenData"></app-tree-item>
                    <ul class="flex flex-col ml-10" *ngIf="childrenData.children && childrenData.children.length > 0">
                        <li *ngFor="let childofTheChildrenData of childrenData.children">
                            <app-tree-item [dataForTheTree]="childofTheChildrenData"></app-tree-item>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
